mixin script(path)
  block js
    //- script(src=path + "assets/js/modernizr-custom.js")
    script(src=path + "assets/js/TweenMax.min.js")
    script(src=path + "assets/js/top_mv.js")
    script(src=path + "assets/js/common.js")
    script.
      new WOW().init();
