//- 05
- var member_ito = "伊東 敏和";
- var member_ito_e = "ITO TOSHIKAZU";
- var member_ito_dep = "整備部  岩国営業所";
- var member_ito_join = "2016年入社・中途";
//- 04
- var member_yama = "山本 浩之";
- var member_yama_e = "YAMAMOTO HIROYUKI";
- var member_yama_dep = "整備部  徳山営業所";
- var member_yama_join = "2011年入社";
//- 01
- var member_oga = "小川 裕己";
- var member_oga_e = "OGAWA YUKI";
- var member_oga_dep = "整備部  徳山営業所";
- var member_oga_join = "2011年入社";
//- 06
- var member_kura = "倉田 忠明";
- var member_kura_e = "KURATA TADAAKI";
- var member_kura_dep = "整備部  岩国営業所";
- var member_kura_join = "2005年入社・中途";
//- 02
- var member_naka = "中山 正太";
- var member_naka_e = "NAKAYAMA SYOTA";
- var member_naka_dep = "リース部  徳佐営業所";
- var member_naka_join = "2010年入社";
//- 03
- var member_fuku = "福山 順之";
- var member_fuku_e = "FUKUYAMA MAOYUKI";
- var member_fuku_dep = "リース部  防府営業所";
- var member_fuku_join = "2004年入社・中途";

- var company = "会社紹介";
- var personality = "求める人物像";
- var info = "募集要項";
- var ｗelfare = "福利厚生・制度";
- var career = "キャリアプラン";
