//- personality/index.html
//- welfare/index.html
//- career/index.html

.three-Btn_Link_Wrapper
  .three-Btn_Link
    .three-Btn_Link_Inner
      div(class="btn button_" + classname)
        a.button-In_Personality.wow.fadeInUp(href='../personality/index.html',data-wow-delay='0.2s') #{personality}
      div(class="btn button_" + classname)
        a.button-In_Welfare.wow.fadeInUp(href='../welfare/index.html',data-wow-delay='0.4s') #{ｗelfare}
      div(class="btn button_" + classname)
        a.button-In_Career.wow.fadeInUp(href='../career/index.html',data-wow-delay='0.6s') #{career}
