//- personality/index.html
//- recruitment/index.html
//- welfare/index.html
//- career/index.html

.underlayer-Mv_Wrapper.js-Mv
  .underlayer-Mv
    div(class="underlayer-Mv_Inner underlayer-Mv_" + classname)

      .underlayer-Txt_Wrapper
        .underlayer-Txt
          .underlayer-Txt_Inner
            h2 #{title}
            p #{title_sub}
            .underlayer-Txt_Sub_Inner
              p #{description}
