.company-Link_Wrapper
  .company-Link
    .company-Link_Inner
      div(class="company-Link_Box box_" + classname)
        a.box-In_History.wow.fadeInUp(href='history.html', data-wow-delay='1.0s') 光東の歴史
      div(class="company-Link_Box box_" + classname)
        a.box-In_Business.wow.fadeInUp(href='business.html', data-wow-delay='1.2s') 事業内容
      div(class="company-Link_Box box_" + classname)
        a.box-In_Strategy.wow.fadeInUp(href='strategy.html', data-wow-delay='1.4s') 事業戦略
