.company-Mv_Wrapper.js-Mv
  .company-Mv
    div(class="company-Mv_Inner company-Mv_" + classname)

      .company-Txt_Wrapper
        .company-Txt
          .company-Txt_Inner
            h2 #{title}
            p #{title_sub}
            .company-Txt_Sub_Inner
              p #{description}
