extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "募集要項｜光東株式会社 採用サイト";
  - var pageDescription= "こちらは募集要項のページです。光東株式会社の採用サイトです。社会とのつながり、社員、歴史や事業内容、求める人物象、制度、キャリアプランなどをご紹介しています。";
  - var pageKeywords= "光東株式会社,採用サイト,募集要項";
  //- Optional
  - var pageOgpTitle= "募集要項｜光東株式会社 採用サイト";
  //- - var pageOgpImage= site.ogpImage
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "recruitment/index.html";
  //- MVの中
  - var classname = "Recruitment"
  - var title = "RECRUITMENT"
  - var title_sub = "募集要項"
  - var description = "光東の募集要項をご紹介いたします。"

block content
  include /_includes/_underlayer/_mv

  //- contents
  .recruitment-Contents_Wrapper
    .recruitment-Contents
      .recruitment-Contents_Inner

        .recruitment-Table_Wrapper
          .recruitment-Table.wow.fadeInUp(data-wow-delay='1.3s')
            .recruitment-Table_Left
              p 初任給
            .recruitment-Table_Right
              p.spacing 【営業職】
              p.junior-College
                span 短大・専門学校卒
                span :
                span 203,500円<br class="show_SP">（手当込、通勤手当除く）
              p.college
                span 四年生大学卒
                span :
                span 216,000円<br class="show_SP">（手当込、通勤手当除く）
              p.mid-Career
                span 既卒（中途）
                span :
                span 職歴等によって決定。
              p.spacing 【整備職】
              p.hschool-Graduate
                span 高校卒
                span :
                span 短大・専門学校卒158,000円<br class="show_SP">（通勤手当除く）
              p 短大・専門学校卒
              p.grade-Two
                span 2級整備課程卒
                span :
                span 170,500円<br class="show_SP">（通勤手当除く）
              p.grade-One
                span 1級整備課程卒
                span :
                span 183,000円<br class="show_SP">（通勤手当除く）
              p.mid-Career
                span 既卒（中途）
                span :
                span 職歴等によって決定。
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 諸手当
            .recruitment-Table_Right
              p 営業手当、通勤手当、家族手当他
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 昇給
            .recruitment-Table_Right
              p 年1回(4月)
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 賞与
            .recruitment-Table_Right
              p 年2回(7月・12月)
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 勤務地
            .recruitment-Table_Right
              p 山口県内各事業所ならびに広島県大竹市、福岡県北九州市の事業所
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 勤務時間
            .recruitment-Table_Right
              p 8:00～17:00
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 休日休暇
            .recruitment-Table_Right
              p 日曜日・祝日、隔週土曜日の他 <br class="show_SP">夏季・年末年始休暇他
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 福利厚生
            .recruitment-Table_Right
              p 海外研修旅行、退職金、宿舎/独身寮、<br class="hidden_SP">各種社会保険（健康・厚生年金・雇用・労災）他
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 研修制度
            .recruitment-Table_Right
              p OJTにより実施<br class="show_SP"> (各種資格取得のための助成金制度有り)
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 定年制
            .recruitment-Table_Right
              p 有り(60歳)
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 採用職種
            .recruitment-Table_Right
              p 営業職、整備職
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 必要な<br class="show_SP">免許資格
            .recruitment-Table_Right
              p 普通自動車免許（オートマ限定不可）
          .recruitment-Table.wow.fadeInUp(data-wow-delay='0.2s')
            .recruitment-Table_Left
              p 応募・選考
            .recruitment-Table_Right
              .recruitment-Table_Right_Inner
                .recruitment-Table_Right_Inner_Left
                  p.title 【応募期間】
                .recruitment-Table_Right_Inner_Right
                  p 随時
              .recruitment-Table_Right_Inner
                .recruitment-Table_Right_Inner_Left
                  p.title 【選考方法】
                .recruitment-Table_Right_Inner_Right
                  p.title 書類審査、適性検査、面接
              .recruitment-Table_Right_Inner
                .recruitment-Table_Right_Inner_Left
                  p.title 【選考場所】
                .recruitment-Table_Right_Inner_Right
                  p.title 光東㈱下松本社
              .recruitment-Table_Right_Inner
                .recruitment-Table_Right_Inner_Left
                  p.title 【応募期間】
                .recruitment-Table_Right_Inner_Right
                  p 【新卒】<br class="show_SP">　学校所定履歴書、卒業見込証明書、成績証明書
                  p 【既卒】<br class="show_SP">　履歴書、職務経歴書
              .recruitment-Table_Right_Inner
                .recruitment-Table_Right_Inner_Left
                  p.title 【応募期間】
                .recruitment-Table_Right_Inner_Right
                  p 自由応募
                  p ※応募書類は下記に送付して下さい。
                  p 〒744-0002 山口県下松市東海岸通り1-7
                  p 光東株式会社　総務部　総務課　電話：0833(41)6300
                  p ※試験日は書類選考の後お知らせ致します。
                  p ※不明な点は本社 総務課まで電話またはメールでご照会ください。

  //- /contents
