.top-Link_Wrapper {
  .top-Link {
    .top-Link_Inner {
      display: flex;
    }
  }
}

.top-Link_Box_Wrapper {
  position: relative;

  overflow: hidden;
  text-decoration: none;
  width: 50%;
  .top-Link_Box {
    position: relative;

    height: 514px;
    transition: 0.9s;

    &:after {
      position: absolute;
      top: 0;

      background-color: rgba(#0e0f14, 0);
      content: "";
      display: block;
      height: 100%;
      transition: 0.9s;
      width: 100%;
    }
  }
  .top-Link_Box_Title {
    position: absolute;
    bottom: 0;

    background-color: rgba(#0c121a, 0.65);
    color: #ffffff;
    padding: 35px 61px 39px;
    width: 100%;

    h3 {
      font-size: 30px;
      margin-bottom: 5px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
    }

    span {
      position: absolute;
      top: 50%;
      right: 0;

      background-color: #ffffff;
      height: 1px;
      transform: translateY(-50%);
      transition: 0.3s;
      width: 38px;
    }
  }
  &:hover {
    .top-Link_Box {
      transform: scale(1.08);

      &:after {
        position: absolute;
        top: 0;

        background-color: rgba(#0e0f14, 0.35);
        content: "";
        display: block;
        height: 100%;
        transition: 0.9s;
        width: 100%;
      }
    }
    .top-Link_Box_Title {
      span {
        width: 8px;
      }
    }
  }
}

.top-Link_Box.left {
  background: url("../img/top/top-link_box_left.png")bottom 0 center /cover no-repeat;
}

.top-Link_Box.right {
  background: url("../img/top/top-link_box_right.png")bottom 0 center /cover no-repeat;
}


@include max-screen($BREAK_POINT_TABLET) {
  .top-Link_Wrapper {
    .top-Link {
      .top-Link_Inner {
        display: flex;
      }
    }
  }

  .top-Link_Box_Wrapper {
    position: relative;

    overflow: hidden;
    text-decoration: none;
    width: 50%;
    .top-Link_Box {
      height: 400px;
      transition: 0.5s;
    }
    .top-Link_Box_Title {
      position: absolute;
      bottom: 0;

      background-color: rgba(#0c121a, 0.65);
      color: #ffffff;
      padding: 20px 40px;
      width: 100%;

      h3 {
        font-size: 28px;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        font-weight: 500;
      }

      span {
        position: absolute;
        top: 50%;
        right: 0;

        background-color: #ffffff;
        height: 1px;
        transform: translateY(-50%);
        transition: 0.3s;
        width: 38px;
      }
    }
    &:hover {
      .top-Link_Box {
        transform: scale(1.1);
      }
      .top-Link_Box_Title {
        span {
          width: 8px;
        }
      }
    }
  }

  .top-Link_Box.left {
    background: url("../img/top/top-link_box_left.png")bottom 0 center /cover no-repeat;
  }

  .top-Link_Box.right {
    background: url("../img/top/top-link_box_right.png")bottom 0 center /cover no-repeat;
  }
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .top-Link_Wrapper {
    .top-Link {
      .top-Link_Inner {
        display: flex;
      }
    }
  }

  .top-Link_Box_Wrapper {
    position: relative;

    overflow: hidden;
    text-decoration: none;
    width: 50%;
    .top-Link_Box {
      height: 188px;
      transition: 0.5s;
    }
    .top-Link_Box_Title {
      position: absolute;
      bottom: 0;

      background-color: rgba(#0c121a, 0.65);
      color: #ffffff;
      padding: 18px;
      text-align: center;
      width: 100%;

      h3 {
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 0;
      }

      p {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 2px;
      }

      span {
        display: none;
      }
    }
    &:hover {
      .top-Link_Box {
        transform: scale(1.1);
      }
      .top-Link_Box_Title {
        span {
          width: 8px;
        }
      }
    }
  }

  .top-Link_Box.left {
    background: url("../img/top/top-link_box_left_sp.png")bottom 0 center /cover no-repeat;
  }

  .top-Link_Box.right {
    background: url("../img/top/top-link_box_right_sp.png")bottom 0 center /cover no-repeat;
  }
}
