.top-Project_Wrapper {
  .top-Project {
    background: url("../img/top/top-project_mv.png")top 0 center /cover no-repeat;
    height: 614px;
    .top-Project_Inner {
      // a
    }
  }
}

.top-Project_Title {
  color: #ffffff;
  margin: 0 auto;
  max-width: 615px;
  padding-bottom: 82px;
  padding-top: 114px;
  text-align: center;

  h3 {
    font-size: 50px;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .sub-Title {
    font-size: 20px;
    margin-bottom: 37px;
  }
  .txt {
    font-size: 15px;
    line-height: 2;
  }
}

.top-Project_Link_Wrapper {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
  }

  .top-Project_Link_Inner {
    &:not(:last-child) {
      margin-right: 30px;
    }

    .top-Project_Link_Box {
      position: relative;

      border-radius: 8px;
      box-shadow: 2px 3.5px 4px rgba(15, 19, 45, 0.04);
      overflow: hidden;
      transition: 0.5s;

      .top-Project_Link_Box_Inner {
        font-size: 0;
        width: 584px;

        img {
          transition: 0.5s;
        }


        .top-Project_Link_Box_Txt {
          position: relative;

          background-color: #ffffff;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          padding: 51px 30px 37px;
          text-align: center;


          .top-Project_Link_Box_Label {
            position: absolute;
            top: -20px;
            left: 50%;

            background-color: $Blue;
            border-radius: 19px;
            color: #ffffff;
            font-size: 16px;
            padding: 8px 0;
            transform: translatex(-50%);
            width: 160px;
          }

          h4 {
            color: $Navy;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 16px;
          }

          p {
            color: $Navy;
            font-size: 14px;
          }
        }
      }
    }

    &.top-Project_Coming_Soon {
      background-color: #fff;
      max-width: 584px;
      width: 50%;
      max-height: 535px;
      border-radius: 8px;
      box-shadow: 2px 3.5px 4px rgba(15, 19, 45, 0.04);

      .top-Project_Coming_Soon_Txt {
        text-align: center;
        color: #8c909b;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 40% 0 0;

        .sub {
          font-size: 18px;
        }
        .main {
          font-size: 28px;
        }
      }
    }

    &:hover {
      .top-Project_Link_Box {
        box-shadow: 4px 4px 4px rgba(15, 19, 45, 0.1);
        .top-Project_Link_Box_Inner {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.top-Project_Bg {
  padding: 0 60px;
  .top-Project_Bg_Inner {
    background-color: $Bg_Off_White;
    height: 411px;
    width: 100%;
  }
}

@include max-screen($CONTENT_WIDTH) {
  .top-Project_Wrapper {
    .top-Project {
      background: url("../img/top/top-project_mv.png")top 0 center /cover no-repeat;
      height: 614px;
      .top-Project_Inner {
        // a
      }
    }
  }

  .top-Project_Title {
    color: #ffffff;
    margin: 0 auto;
    max-width: 615px;
    padding: 80px 0;
    text-align: center;

    h3 {
      font-size: 50px;
      letter-spacing: 1px;
      margin-bottom: 0px;
    }
    .sub-Title {
      font-size: 20px;
      margin-bottom: 37px;
    }
    .txt {
      font-size: 15px;
      line-height: 2;
    }
  }

  .top-Project_Link_Wrapper {
    display: flex;
    justify-content: center;
    padding: 0 30px;

    a {
      text-decoration: none;
    }

    .top-Project_Link_Inner {
      &:not(:last-child) {
        margin-right: 30px;
        width: 50%;
      }

      .top-Project_Link_Box {
        position: relative;

        border-radius: 8px;
        box-shadow: 2px 3.5px 4px rgba(15, 19, 45, 0.04);
        overflow: hidden;
        transition: 0.5s;

        .top-Project_Link_Box_Inner {
          font-size: 0;
          width: auto;
          max-width: 584px;

          img {
            transition: 0.5s;
            display: block;
            width: 100%;
          }


          .top-Project_Link_Box_Txt {
            position: relative;

            background-color: #ffffff;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 30px;
            text-align: center;


            .top-Project_Link_Box_Label {
              position: absolute;
              top: -20px;
              left: 50%;

              background-color: $Blue;
              border-radius: 19px;
              color: #ffffff;
              font-size: 14px;
              padding: 6px 0;
              transform: translatex(-50%);
              width: 160px;
            }

            h4 {
              color: $Navy;
              font-size: 18px;
              font-weight: 600;
              margin-bottom: 16px;
            }

            p {
              color: $Navy;
              font-size: 13px;
            }
          }
        }
      }

      &:hover {
        .top-Project_Link_Box {
          box-shadow: 4px 4px 4px rgba(15, 19, 45, 0.1);
          .top-Project_Link_Box_Inner {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  .top-Project_Bg {
    padding: 0;
    .top-Project_Bg_Inner {
      background-color: $Bg_Off_White;
      height: 250px;
      width: 100%;
    }
  }
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .top-Project_Wrapper {
    .top-Project {
      background: url("../img/top/top-project_mv.png")top 0 center /cover no-repeat;
      height: 300px;
      // height: 264px;
      .top-Project_Inner {
        // a
      }
    }
  }

  .top-Project_Title {
    color: #ffffff;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    padding: 41px 15px 45px;
    text-align: center;

    h3 {
      font-size: 27px;
      letter-spacing: 1px;
    }
    .sub-Title {
      font-size: 14px;
      margin-bottom: 22px;
      font-weight: 600;
    }
    .txt {
      font-size: 13px;
      line-height: 1.6;
    }
  }

  .top-Project_Link_Wrapper {
    display: block;
    // justify-content: center;
    padding: 0 15px;
    margin-bottom: 15px;

    a {
      text-decoration: none;
    }

    .top-Project_Link_Inner {
      &:not(:last-child) {
        margin-right: 0px;
      }

      .top-Project_Link_Box {
        position: relative;

        border-radius: 8px;
        box-shadow: 2px 3.5px 4px rgba(15, 19, 45, 0.04);
        overflow: hidden;
        transition: 0.5s;
        margin-bottom: 15px;


        .top-Project_Link_Box_Inner {
          font-size: 0;
          width: auto;
          max-width: 100%;

          img {
            transition: 0.5s;
            display: block;
            width: 100%;
          }


          .top-Project_Link_Box_Txt {
            position: relative;

            background-color: #ffffff;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 33px 30px 26px;
            text-align: center;


            .top-Project_Link_Box_Label {
              position: absolute;
              top: -13px;
              left: 50%;

              background-color: $Blue;
              border-radius: 19px;
              color: #ffffff;
              font-size: 12px;
              padding: 3px 0;
              transform: translatex(-50%);
              width: 110px;
              letter-spacing: 1px;
              font-weight: 600;
            }

            h4 {
              color: $Navy;
              font-size: 15px;
              font-weight: 600;
              margin-bottom: 9px;
            }

            p {
              color: $Navy;
              font-size: 11px;
            }
          }
        }
      }

      &.top-Project_Coming_Soon {
        background-color: #fff;
        max-width: 100%;
        width: 100%;
        max-height: 484px;
        border-radius: 8px;
        box-shadow: 2px 3.5px 4px rgba(15, 19, 45, 0.04);
        position: relative;
        z-index: 1;

        .top-Project_Coming_Soon_Txt {
          text-align: center;
          color: #8c909b;
          font-weight: 600;
          letter-spacing: 1px;
          padding: 36% 0 36%;

          .sub {
            font-size: 12px;
          }
          .main {
            font-size: 18px;
          }
        }
      }

      &:hover {
        .top-Project_Link_Box {
          box-shadow: 4px 4px 4px rgba(15, 19, 45, 0.1);
          border-radius: 0px;
          .top-Project_Link_Box_Inner {
            img {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  .top-Project_Bg {
    padding: 0;
    .top-Project_Bg_Inner {
      background-color: $Bg_Off_White;
      height: 922px;
      width: 100%;
      padding-top: 83%;

      @include max-screen(650px) {
        height: 902px;
      }
      @include max-screen(600px) {
        height: 850px;
      }
      @include max-screen(550px) {
        height: 800px;
      }
      @include max-screen(500px) {
        height: 760px;
      }
      @include max-screen(450px) {
        height: 760px;
      }
      @include max-screen(525px) {
        height: 716px;
      }
      @include max-screen(450px) {
        height: 672px;
      }
      @include max-screen(400px) {
        height: 620px;
      }
      @include max-screen(380px) {
        height: 600px;
      }
      @include max-screen(360px) {
        height: 580px;
      }
      @include max-screen(340px) {
        height: 560px;
      }
      @include max-screen(320px) {
        height: 540px;
      }
      @include max-screen(300px) {
        height: 520px;
      }
    }
  }
}
