extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "キャリアプラン｜光東株式会社 採用サイト";
  - var pageDescription= "こちらはキャリアプランのページです。光東株式会社の採用サイトです。社会とのつながり、社員、歴史や事業内容、求める人物象、募集要項、制度などをご紹介しています。";
  - var pageKeywords= "光東株式会社,採用サイト,キャリアプラン";
  //- Optional
  - var pageOgpTitle= "キャリアプラン｜光東株式会社 採用サイト";
  //- - var pageOgpImage= site.ogpImage
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "career/index.html";
  //- MVの中
  - var classname = "Career"
  - var title = "キャリアプラン"
  - var title_sub = ""
  - var description = "光東でのキャリアアップ事例をご紹介いたします。"

block content
  include /_includes/_underlayer/_mv

  //- contents
  .career-Contents_Wrapper
    .career-Contents
      .career-Contents_Inner

        .career-Contents_Detail_Wrapper

          .career-Contents_Detail
            .career-Contents_Title_Wrapper
              .career-Contents_Title
                h3.wow.fadeInUp(data-wow-delay='1.0s') 山本 和典
                span.wow.fadeInUp(data-wow-delay='1.2s') 1962.5.26生まれ
            .career-Contents_Table_Wrapper
              img.pc(src='../assets/img/career/career-yamamoto.png', alt='山本和典 キャリア')
              img.sp(src='../assets/img/career/career-yamamoto_sp.png', alt='山本和典 キャリア')
            .career-Contents_Body_Wrapper.for-Adjust_yamamoto
              .career-Contents_Body
                h4.wow.fadeInUp(data-wow-delay='0.2s') 経理事務から営業への転換（入社～7年目）
                p.wow.fadeInUp(data-wow-delay='0.2s') 愛媛県の大学卒業後、経理事務職員として光東に入社。全社の経理業務を徳山リース営業所で約5年間担当。その後、営業職へと転換し、建設現場への飛び込み営業を精力的に行い、新規顧客を開拓。地元大型商業施設の建設現場での大型案件を成約させ、営業としてのやりがいを見出した。
                h4.wow.fadeInUp(data-wow-delay='0.2s') リース部営業所長として活躍（8年目～12年目）
                p.wow.fadeInUp(data-wow-delay='0.2s') 入社8年目で柳井リース営業所の所長に就任。職員3名と共に、一丸となって営業所を運営。前営業所での営業経験を活かし、台風による土砂災害発生時の道路復旧作業現場にて一括受注に成功。業績トップの営業所となり、更なる自信と経験を積み上げた。
                h4.wow.fadeInUp(data-wow-delay='0.2s') 新設営業所長としての挑戦（13年目～24年目）
                p.wow.fadeInUp(data-wow-delay='0.2s') 自身の希望により新設の岩国リース営業所の所長に就任。ゼロからのスタートであり、新規顧客開拓を部下社員と共に推進。一つ一つの丁寧な営業の積み重ねの成果で、顧客が顧客を呼ぶ好循環が生まれ、活気のある部署に成長。大きなやりがいと充実感を覚え、日々の仕事に邁進した。
                h4.wow.fadeInUp(data-wow-delay='0.2s') 総務部での新たな仕事へのアプローチ（25年目～現在）
                p.wow.fadeInUp(data-wow-delay='0.2s') 営業部から本社総務部へと異動。過去の営業経験を活かし、学校や学生に対して採用活動を積極的に実施。最終的に学生が光東を選び入社してくれた際は大きな喜びを感じた。総務部にて次長、部長、更には執行役員まで昇格し、現在では光東グループ全体のバックオフィス業務の責任を担う。
          .career-Contents_Detail
            .career-Contents_Title_Wrapper
              .career-Contents_Title
                h3.wow.fadeInUp(data-wow-delay='0.2s') 村井 昭知
                span.wow.fadeInUp(data-wow-delay='0.4s') 1975.6.2生まれ
            .career-Contents_Table_Wrapper
              img.pc(src='../assets/img/career/career-murai.png', alt='村井昭知 キャリア')
              img.sp(src='../assets/img/career/career-murai_sp.png', alt='村井昭知 キャリア')
            .career-Contents_Body_Wrapper.for-Adjust_murai
              .career-Contents_Body
                h4.wow.fadeInUp(data-wow-delay='0.2s') 営業知識の習得（入社～1年目）
                p.wow.fadeInUp(data-wow-delay='0.2s') 地元大学を卒業後、父親の仕事の関係で知っていた光東に入社。徳山リース営業所で約1年半、営業フロント業務を担当。取り扱う機械・車両に加え、お客様自身に関する知識が浅い中、次々にくるお客様からの問合せ対応に苦戦しながらも、一つ一つ対処し、少しずつ知識と経験を蓄え、営業マンとして成長。
                h4.wow.fadeInUp(data-wow-delay='0.2s') 営業スキルの習熟と視野の拡大（2年目～9年目）
                p.wow.fadeInUp(data-wow-delay='0.2s') 入社2年目に入り、防府リース営業所へ異動。口下手ではあったが、前営業所での知識・経験を活かし、お客様に言われたことに誠実に対応することでお客様との信頼関係を構築。31歳の年には中国で開催された世界メーカーの建機展示会へも他の中堅営業マンと一緒に参加し、大きな刺激を受け、視野を広げた。
                h4.wow.fadeInUp(data-wow-delay='0.2s') 社会的使命の実感と自己成長（10年目～14年目）
                p.wow.fadeInUp(data-wow-delay='0.2s') 入社10年目に近隣で大規模な豪雨災害が発生。土砂災害により多数の施設や道路が被害を受ける中、光東ではバックホーのみでも100台近くとなる大量の機械・車両をレンタルし、被害抑制および早期復旧を支援。多忙を極める中、社会的使命を果たす充実感と共に、多くを学び、経験し、その直後、所長代理に就任。
                h4.wow.fadeInUp(data-wow-delay='0.2s') 所長としての責任と挑戦（15年目～現在）
                p.wow.fadeInUp(data-wow-delay='0.2s') 正式に防府リース営業所の所長へと昇格。防府リース営業所での在籍期間も長く、良好な社内の人間関係も築いていたものの、営業所の責任者として、業績を問われる中、部下のやる気や良さを引き出し、営業所全体を盛り上げるという新たなチャレンジに挑む。
          .career-Contents_Detail
            .career-Contents_Title_Wrapper
              .career-Contents_Title
                h3.wow.fadeInUp(data-wow-delay='0.2s') 今本 和則
                span.wow.fadeInUp(data-wow-delay='0.4s') 1967.3.16生まれ
            .career-Contents_Table_Wrapper
              img.pc(src='../assets/img/career/career-imamoto.png', alt='今本和則 キャリア')
              img.sp(src='../assets/img/career/career-imamoto_sp.png', alt='今本和則 キャリア')
            .career-Contents_Body_Wrapper.for-Adjust_imamoto
              .career-Contents_Body
                h4.wow.fadeInUp(data-wow-delay='0.2s') 「技術は習うのではなく盗む」新人時代（入社～7年目）
                p.wow.fadeInUp(data-wow-delay='0.2s') 地元工業高校卒業後、興味のあった乗用車に加え重機や特殊車両等の整備に関する一生モノの技術が光東なら習得できると考え入社を決意。新人時代は徳山工場にて先輩社員の後ろ姿を見ながら日々の業務に邁進。特に中国電力の火力発電所の新設大型工事では建設現場で様々な機械・車両を整備し、多くの技術を習得。
                h4.wow.fadeInUp(data-wow-delay='0.2s') 新たな技術・経験の習得と成長（8年目～11年目）
                p.wow.fadeInUp(data-wow-delay='0.2s') 入社8年目に小野田工場へ異動。若手から中堅社員となり、業務の難易度が上がると同時に、取り扱うメーカーの幅も広がり、更に後ろ姿を見て学ぶ先輩社員の存在も少なかったため、戸惑いながらも自ら考え、勉強し、実践しながら技術を獲得。大変な毎日だったが、この時の経験が自分自身を大きく成長させた。
                h4.wow.fadeInUp(data-wow-delay='0.2s') お客様との信頼関係の構築（12年目～21年目）
                p.wow.fadeInUp(data-wow-delay='0.2s') 30歳の年に徳山工場へ戻り、同時期に管理職に昇格。小野田工場で培った技術と経験をもとに、同工場No2として数多くの機械・車両の検査・修理を手掛けた。確かな技術と安定したサービスにより、既存のお客様との関係を一層強固なものにするだけでなく、新たなお客様との厚い信頼関係も作り上げた。
                h4.wow.fadeInUp(data-wow-delay='0.2s') 工場長としての人材マネジメント（22年目～現在）
                p.wow.fadeInUp(data-wow-delay='0.2s') 徳山工場の工場長に就任。現場の第一線で自ら整備を行う業務から、主に部下への日々の工場内業務の指示および出張整備の指示を行う業務へと変わり、円滑な人材マネジメントに取り組む。現在は若手サービスマンの育成および技術の承継にも注力し、光東の安心・安全な整備力の底上げを図る。

  //- /contents
  include /_includes/_underlayer/_3buttons_link
