extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "光東の歴史｜光東株式会社 採用サイト";
  - var pageDescription= "こちらは会社紹介のページです。光東株式会社の採用サイトです。社会とのつながり、社員、歴史や事業内容、求める人物象、募集要項、制度、キャリアプランなどをご紹介しています。";
  - var pageKeywords= "光東株式会社,採用サイト,プロジェクト";
  //- Optional
  - var pageOgpTitle= "光東の歴史｜光東株式会社 採用サイト";
  //- - var pageOgpImage= site.ogpImage
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "company/history.html";
  //- MVの中
  - var classname = "History"
  - var title = "COMPANY"
  - var title_sub = "光東の歴史"
  - var description = "光東の事業内容、歴史、戦略についてご紹介いたします。"

block content
  include /_includes/_underlayer/_company/_mv
  include /_includes/_underlayer/_company/_link

  //- contents
  .company-His_Wrapper
    .company-His
      .company-His_Inner

        .company-His_Detail_Wrapper
          .company-His_Detail
            .company-His_Detail_Year.first-Year
              span.main.wow.fadeInUp(data-wow-delay='1s') 1948
            .company-His_Detail_Title
              h3.wow.fadeInUp(data-wow-delay='1.2s') 創設
              p.wow.fadeInUp(data-wow-delay='1.3s') 山口県光市にて自動車整備工場として設立
            .company-His_Detail_Body
              p.wow.fadeInUp(data-wow-delay='1.4s') 戦前に一時期、働いていた自動車整備工場にて修得した技術や知識·経験を基に、終戦後、創設者である東宗雄が光東自動車工業㈱（現·光東㈱）を設立。普通自動車やトラック等の貨物自動車を中心に「安心·安全」をモットーとした自動車整備事業を展開する。
            .company-His_Detail_Img
              img.wow.fadeInUp(src='../assets/img/company/history/img-1948.png', alt='1948年', data-wow-delay='1.1s')
            .company-His_Detail_Dot.wow.fadeInUp(data-wow-delay='1.5s')
              .company-His_Detail_Dot_Inner
          .company-His_Detail
            .company-His_Detail_Year
              span.main.wow.fadeInUp(data-wow-delay='0.2s') 1960
              span.sub.wow.fadeInUp(data-wow-delay='0.3s') 年代
            .company-His_Detail_Title
              h3.wow.fadeInUp(data-wow-delay='0.5s') 商事部の創設
              p.wow.fadeInUp(data-wow-delay='0.6s') 整備から販売、保険へと事業を拡大し、お客様の建設産業用·車両を用いた業務へのサポート体制を拡充
            .company-His_Detail_Body
              p.wow.fadeInUp(data-wow-delay='0.7s') 当時の得意先からクレーン付トラックの製作依頼を受けた際に、優れた車両を製造していたメーカーと出会い、同社車両の販売を開始。その後、商事部を立ち上げ、本格的に建設産業用·車両の販売を開始。取引メーカー数を増やし、徐々に取扱商品の幅を広げた。一方で、当時、建設産業用·車両に関する事故が多発しており、お客様が安心して光東の販売する商品をご利用頂けるよう保険課を立ち上げ車両保険の取り扱いも開始。また、建設産業用·車両は購入費用の負担も大きく、万が一の事故·破損を補償する保険を付保することでお客様の企業の安定経営にも寄与。
            .company-His_Detail_Img
              img.wow.fadeInUp(src='../assets/img/company/history/img-1960.png', alt='1960年代の写真', data-wow-delay='0.7s')
            .company-His_Detail_Dot.wow.fadeInUp(data-wow-delay='0.4s')
              .company-His_Detail_Dot_Inner
          .company-His_Detail
            .company-His_Detail_Year
              span.main.wow.fadeInUp(data-wow-delay='0.2s') 1970
              span.sub.wow.fadeInUp(data-wow-delay='0.3s') 年代
            .company-His_Detail_Title
              h3.wow.fadeInUp(data-wow-delay='0.5s') リース部の創設
              p.wow.fadeInUp(data-wow-delay='0.6s') お客様の効率的に企業運営したいというニーズに応え、リース（レンタル）事業を展開
            .company-His_Detail_Body
              p.wow.fadeInUp(data-wow-delay='0.7s') 当時の得意先ゼネコンより建設産業用·車両を必要な期間、必要な量だけ使いたいというニーズを聞き取り、今までの販売するという取引形態ではなく、必要な期間、必要な量の機械·車両を貸し出すリース（レンタル）という新たなビジネスモデルを展開。程なくして、リース部を立ち上げ、「光東リース」というブランド名を掲げ、リース（レンタル）事業を本格展開。ここから取扱商品の幅を加速度的に広げ、総合建設産業用機械·車両のリース（レンタル）·販売·整備会社としての基盤を構築。お客様の建設現場における業務の「安全·安心」に加え、「効率」の向上に貢献。
            .company-His_Detail_Img
              img.wow.fadeInUp(src='../assets/img/company/history/img-1970.png', alt='1970年代の写真', data-wow-delay='0.7s')
            .company-His_Detail_Dot.wow.fadeInUp(data-wow-delay='0.4s')
              .company-His_Detail_Dot_Inner
          .company-His_Detail
            .company-His_Detail_Year
              span.main.wow.fadeInUp(data-wow-delay='0.2s') 1980
              span.sub.wow.fadeInUp(data-wow-delay='0.3s') 年代
            .company-His_Detail_Title
              h3.wow.fadeInUp(data-wow-delay='0.5s') ホンダ車ディーラーへの参入
              p.wow.fadeInUp(data-wow-delay='0.6s') 更なる飛躍を目指し、ホンダ車ディーラーとしての新たな事業を展開
            .company-His_Detail_Body
              p.wow.fadeInUp(data-wow-delay='0.7s') 当時、1970年代に買収した自動車整備工場を基盤に、建設産業用·車両とは別に普通自動車の整備事業を展開していたが、1982年に本田技研工業より同社カーディーラーの話を受け、光東の経営の安定性·成長性を加速させるべく、ホンダ車ディーラーとして新たな自動車販売·整備事業を開始。自社での店舗展開だけでなく、県内の他社ディーラーのM&Aも実行し、山口県内での拠点数を増やし、現在では山口県内に5店舗を設ける地場大手のカーディーラーまで成長。ホンダ車ディーラーとして、お客様の安心·安全なカーライフを全面サポートするだけでなく、店舗併設型オープンカフェや交流スペースも運営しながら、地域の方々の充実した生活をサポートする役割も担っています。
            .company-His_Detail_Img
              img.wow.fadeInUp(src='../assets/img/company/history/img-1980.png', alt='1980年代の写真', data-wow-delay='0.7s')
            .company-His_Detail_Dot.wow.fadeInUp(data-wow-delay='0.4s')
              .company-His_Detail_Dot_Inner
          .company-His_Detail
            .company-His_Detail_Year
              span.main.wow.fadeInUp(data-wow-delay='0.2s') 1990
              span.sub.wow.fadeInUp(data-wow-delay='0.3s') 年代
            .company-His_Detail_Title
              h3.wow.fadeInUp(data-wow-delay='0.5s') リース部営業網の拡大
              p.wow.fadeInUp(data-wow-delay='0.6s') リース部の拠点拡大を加速させ、山口での営業体制を更に拡充し、お客様の効率経営を協力にサポート
            .company-His_Detail_Body
              p.wow.fadeInUp(data-wow-delay='0.7s') 1990年台に入り、お客様のより効率的な経営をしたいというニーズが高まる中、光東ではお客様の効率経営を強力にサポートするべく、リース部の営業所数を5拠点から一気に6拠点増やし、山口県内計14営業所の営業体制を構築。「光東リース」というブランド名を山口県内で一気に広め、強固な営業基盤を確立。同時期には、事業規模の拡大に伴い、本社を山口県光市から下松市へ移転し、オフィスを一新。また、設立当初の自動車整備業という枠組みを超えて更なる飛躍を目指すべく、社名を光東自動車工業(株)から光東(株)に変更。ここから更なる成長を加速化させる。
            .company-His_Detail_Img
              img.wow.fadeInUp(src='../assets/img/company/history/img-1990.png', alt='1990年代の写真', data-wow-delay='0.7s')
            .company-His_Detail_Dot.wow.fadeInUp(data-wow-delay='0.4s')
              .company-His_Detail_Dot_Inner
          .company-His_Detail
            .company-His_Detail_Year
              span.main.wow.fadeInUp(data-wow-delay='0.2s') 2000
              span.sub.wow.fadeInUp(data-wow-delay='0.3s') 年代
            .company-His_Detail_Title
              h3.wow.fadeInUp(data-wow-delay='0.5s') 事業の拡充と更なる安心·安全の追求
              p.wow.fadeInUp(data-wow-delay='0.6s') お客様の安心·安全·効率へのサポート体制拡充の加速化
            .company-His_Detail_Body
              p.wow.fadeInUp(data-wow-delay='0.7s') 2000年以降、整備工場を2拠点、リース部営業所を9拠点の計11拠点を増設し、営業網拡張を加速化。山口県全域及び一部広島県、福岡県にまで営業ネットワークを拡大させ、お客様に対してスピーディかつ充実したサービス提供が可能な体制を構築。また、お客様の建設現場作業の安全性の向上を側面から支援すべく、建設産業用·車両の運転技能講習の教習センターを設立。山口労働局長登録教習機関として、弊社ベテラン社員による確かな技術講習を通じて、建設現場作業員の方々の資格取得を全面的にバックアップ。更なるお客様の安全·安心を追及し、現場作業での事故やトラブル発生の低減に貢献。
            .company-His_Detail_Img
              img.wow.fadeInUp(src='../assets/img/company/history/img-2000.png', alt='2000年代の写真', data-wow-delay='0.7s')
            .company-His_Detail_Dot.wow.fadeInUp(data-wow-delay='0.4s')
              .company-His_Detail_Dot_Inner

  //- /contents
