// TOP MV
@keyframes top_mv_slide {
  0% {
    transform: scale(1.2);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

// TOP MV
@keyframes top_mv_txt_fade_up {
  0% {
    top: 80px;
  }
  100% {
    top: 0;
  }
}

// TOP MV
@keyframes top_mv_circle_border {
  0% {
    height: 630px;
    width: 630px;
    opacity: 1;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    height: 730px;
    width: 730px;
    opacity: 0;
  }
}

// TOP MV
@include max-screen($CONTENT_WIDTH) {
  @keyframes top_mv_circle_border {
    0% {
      height: 540px;
      width: 540px;
      opacity: 1;
    }
    70% {
      opacity: 0.8;
    }
    100% {
      height: 640px;
      width: 640px;
      opacity: 0;
    }
  }
}

// TOP MV
@include max-screen($BREAK_POINT_TABLET) {
  @keyframes top_mv_circle_border {
    0% {
      height: 480px;
      width: 480px;
      opacity: 1;
    }
    70% {
      opacity: 0.8;
    }
    100% {
      height: 580px;
      width: 580px;
      opacity: 0;
    }
  }
}

// TOP MV
@keyframes top_mv_circle_bar {
  0% {
    height: 28px;
    bottom: 0px;
  }
  25% {
    height: 0px;
    bottom: 0px;
  }
  50% {
    height: 0px;
    bottom: 28px;
  }
  100% {
    height: 28px;
    bottom: 0px;
  }
}

// FOOTER ARROW
@keyframes footer_hover {
  0% {
    opacity: 1;
    top: 50%;
  }
  20% {
    opacity: 1;
    top: 40%;
  }
  40% {
    opacity: 0;
    top: 40%;
  }
  60% {
    opacity: 0;
    top: 50%;
  }
  80% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

// 下層 MV
@keyframes underlayer_Mv_Scale {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
// 下層 MV
@keyframes underlayer_Mv_Fade_In {
  0% {
    opacity: 0;
    position: relative;
    bottom: -10px;
  }
  100% {
    opacity: 1;
    position: relative;
    bottom: 0;
  }
}

@keyframes underlayer_Mv_Fade_In_Member {
  0% {
    opacity: 0;
    position: absolute;
    bottom: -90px;
  }
  100% {
    opacity: 1;
    position: absolute;
    bottom: -80px;
  }
}

@keyframes underlayer_Mv_Fade_In_Member_Sp {
  0% {
    opacity: 0;
    position: absolute;
    top: 92%;
  }
  100% {
    opacity: 1;
    position: absolute;
    top: 90%;
  }
}

@keyframes nav_Fade_In {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
