.company-Info_Wrapper {
  .company-Info {
    .company-Info_Inner {
      padding: 120px 60px;
    }
  }
}

.company-Info_Title_Wrapper {
  text-align: center;
  margin-bottom: 80px;

  span {
    font-size: 16px;
    color: $Blue;
    font-weight: 600;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 36px;
    color: $Navy;
    font-weight: 600;
    padding-top: 13px;
  }
}

.company-Info_Table_Wrapper {
  max-width: 1200px;
  margin: 0 auto;

  .company-Info_Table {
    color: #181b36;

    font-size: 15px;

    border-top: 1px solid #e0e3e6;

    &:last-child {
      border-bottom: 1px solid #e0e3e6;
    }

    display: flex;

    .company-Info_Table_Left {
      font-weight: 600;
      background-color: #f0f2f5;
      padding: 32px 30px;
      width: 20%;

      p {
        padding-top: 5px;
        color: $Navy;
      }
    }

    .company-Info_Table_Right {
      padding: 32px 50px;
      width: 80%;

      p {
        line-height: 2;
        color: $Navy;

        &.spacing {
          padding-left: 0.5em;
        }
      }

      .company-Info_Table_Right_Inner {
        display: flex;
        margin-bottom: 14px;

        .company-Info_Table_Right_Inner_Left {
          margin-right: 34px;
        }

        .company-Info_Table_Right_Inner_Right {
        }
      }
    }
  }
}

@include max-screen($CONTENT_WIDTH) {

  .company-Info_Wrapper {
    .company-Info {
      .company-Info_Inner {
        padding: 80px 30px;
      }
    }
  }

  .company-Info_Title_Wrapper {
    text-align: center;
    margin-bottom: 60px;

    span {
      font-size: 14px;
      color: $Blue;
      font-weight: 600;
      letter-spacing: 1px;
    }

    h3 {
      font-size: 32px;
      color: $Navy;
      font-weight: 600;
      padding-top: 10px;
    }
  }

  .company-Info_Table_Wrapper {
    .company-Info_Table {
      color: #181b36;

      font-size: 15px;

      border-top: 1px solid #e0e3e6;

      &:last-child {
        border-bottom: 1px solid #e0e3e6;
      }

      display: flex;

      .company-Info_Table_Left {
        font-weight: 600;
        background-color: #f0f2f5;
        padding: 32px 30px;
        width: 20%;
      }

      .company-Info_Table_Right {
        padding: 32px 50px;
        width: 80%;

        p {
          line-height: 2;
        }

        .company-Info_Table_Right_Inner {
          display: flex;
          margin-bottom: 14px;

          .company-Info_Table_Right_Inner_Left {
            margin-right: 34px;
          }

          .company-Info_Table_Right_Inner_Right {
          }
        }
      }
    }
  }
}


@include max-screen($BREAK_POINT_SP_iPhone6) {

  .company-Info_Wrapper {
    .company-Info {
      .company-Info_Inner {
        padding: 40px 15px 51px;
      }
    }
  }

  .company-Info_Title_Wrapper {
    text-align: center;
    margin-bottom: 27px;

    span {
      font-size: 12px;
      color: $Blue;
      font-weight: 600;
      letter-spacing: 1px;
    }

    h3 {
      font-size: 24px;
      color: $Navy;
      font-weight: 600;
      padding-top: 0px;
    }
  }

  .company-Info_Table_Wrapper {
    .company-Info_Table {
      color: #181b36;

      font-size: 12px;

      border-top: 1px solid #e0e3e6;

      &:last-child {
        border-bottom: 1px solid #e0e3e6;
      }

      display: flex;

      .company-Info_Table_Left {
        font-weight: 600;
        background-color: #f0f2f5;
        padding: 16px 8px;
        width: 27%;
      }

      .company-Info_Table_Right {
        padding: 16px 1px 16px 20px;
        width: 73%;


        p {
          line-height: 1.5;
          letter-spacing: 0px;

          &.title {
            margin-left: -1em;
          }
        }

        .company-Info_Table_Right_Inner {
          display: block;
          margin-bottom: 14px;

          .company-Info_Table_Right_Inner_Left {
            margin-right: 0px;
            width: 100%;
          }

          .company-Info_Table_Right_Inner_Right {
            width: 100%;
          }
        }
      }
    }
  }
}
