// z-index
// 参照169p

// LOADING
$Z_LOADING_TXT: 24;
$Z_LOADING_MASK: 23;
$Z_LOADING_SPINNER: 22;
$Z_LOADING_FILTER: 21;
$Z_LOADING_BG: 20;
$Z_LOADING_MINUS: -1;

// NAV
$Z_NAV_TITLE: 15;
$Z_NAV_PLUS: 14;
$Z_NAV: 13;
$Z_NAV_BG: 12;

// HEADER
$Z_TOP_HEADER: 11;

// TOP
$Z_TOP_SCROLL: 5;
$Z_TOP_CIRCLE_WRAPPER: 5;
$Z_TOP-CIRCLE_BG: 4;
